footer {
  height: 25vh;
  background: black;
  color: white;
}
.footer-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-text {
  line-height: 2em;
}
.footer-text small {
  font-size: 0.8em;
}